<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<form class="form-inline">
				<div class="form-group">
					{{input value = nome placeholder="Nome" class="form-control"}}
					{{input value = divisao placeholder="Área" class="form-control"}}
				</div>
				<button type="submit" class="btn btn-default"{{action 'search'}}>BUSCAR</button>
			</form>
		</div>
	</div>
	<div class="row">
		{{#if model}}
		<div class="col-lg-12 table">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Área</th>
						<th>E-mail</th>
						<th>Ramal</th>
					</tr>
				</thead>

				<tbody>
					{{#each model as |person|}}
					<tr>
						<th scope="row"><a data-toggle="modal" class="btn-name"{{action "openPersonModal" person}}>{{person.nome}}</a></th>
						<td>{{person.divisao}}</td>
						<td>{{person.email}}</td>
						<td>{{person.ramal}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>

		</div>
		{{/if}}
		<div class="col-lg-12 btn-sign"><a href="http://10.25.192.114:8080/sipweb/trabalhador/login.xhtml" target="_blank"><button type="button" class="btn btn-default">Alterar meu cadastro</button></a></div>
	</div>
</div>



{{outlet}}
